# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# Python files
*.pyc
*__pycache__*
.spyder*

# IPython Notebook files
.ipynb*

# Some data files
*MIG_15082015002909613.csv*
